{% load static %}
{% block head %}
<head>
    {% comment %} <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> {% endcomment %}
    <title>Correo Registrado</title>
    <link rel="stylesheet" href="{% static 'css/mains.css' %}">

</head>
{% endblock %}

{% block content %}
<body background="{% static 'formulario/img/bgd2.jpg' %}">
    {% if verificado is False %}
        <div class="fullsize flexrow flexcenter">
            <div class="midtransparent flexcolumn flexcenter fit">
                <h3 style="margin: 6px;"> ¡Parece que estás perdido!</h3>
                <a href="" style="margin: 3px;">¿Te gustaría intentar ir al menu para iniciar sesión? ¡Clickeame! :D</a>
            </div>
        </div>
    {% elif verificado is True %}
        <div class="fullsize flexrow flexcenter">
            <div class="midtransparent flexcolumn flexcenter fit">
                <h3 style="margin: 6px;"> ¡Correo registrado!</h3>
                <p style="margin: 3px;">El correo {{ correo }} estará verificado cuando un responsable de la institución lo valide.</p>
                <p style="margin: 3px;">Por favor ten paciencia, y cuando esté verificado te lo notificaremos.</p>    
            </div>
        </div>
    {% endif %}

</body>

{% endblock %}