{% load static %}
{% block head %}
<head>
    <title>Creditos</title>
    <meta charset="UTF-8">
    
    <title>Creditos</title>
    <link rel="stylesheet" href="{% static 'formulario/css/content.css' %}">
    <link rel="stylesheet" href="{% static 'formulario/css/mains.css' %}">
    
</head>
{% endblock %}


{% include 'extends/extends_navbar.html' %}


{% block body %}
<body background="{% static 'formulario/img/bg_credits.png' %}" >
<br>

<div class="maindiv">
    <div class="inlinediv">
        <img src="{% static 'img/flaticon-logo.png' %}" class="image"><label><a href>Iconos de Flaticon<a></label>
    </div>
    <hr>
    <div class="inlinedivflex">
        <li><blockquote class="twitter-tweet " data-theme="dark"><p lang="ja" dir="ltr">静寂 <a href="https://t.co/fanUiRvol0">pic.twitter.com/fanUiRvol0</a></p>&mdash; コバルタ (@_cobalta_) <a href="https://twitter.com/_cobalta_/status/1380172944207323139?ref_src=twsrc%5Etfw">April 8, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        <br>
        <li><blockquote class="twitter-tweet " data-theme="dark"><p lang="ja" dir="ltr">試練<a href="https://twitter.com/hashtag/%E6%9D%B1%E6%96%B9Project?src=hash&amp;ref_src=twsrc%5Etfw">#東方Project</a> <a href="https://t.co/HsywmA0ao5">pic.twitter.com/HsywmA0ao5</a></p>&mdash; コバルタ (@_cobalta_) <a href="https://twitter.com/_cobalta_/status/1467452479449481220?ref_src=twsrc%5Etfw">December 5, 2021</a>
        </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        <br>
        <li><blockquote class="twitter-tweet " data-dnt="true" data-theme="dark"><p lang="ja" dir="ltr">おねむさん <a href="https://t.co/lTgnIbw9TR">pic.twitter.com/lTgnIbw9TR</a></p>&mdash; コバルタ (@_cobalta_) <a href="https://twitter.com/_cobalta_/status/1329822889684594689?ref_src=twsrc%5Etfw">November 20, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        <br>
        <blockquote class="twitter-tweet " data-dnt="true" data-theme="dark"><p lang="ja" dir="ltr">ぎゅっ <a href="https://t.co/FJEumYYow7">pic.twitter.com/FJEumYYow7</a></p>&mdash; コバルタ (@_cobalta_) <a href="https://twitter.com/_cobalta_/status/1495126041781669894?ref_src=twsrc%5Etfw">February 19, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        </div>


</div>



<body>
{% endblock %}
