{% load static %}
{% block head %}
<head>
    <title>Correo Registrado</title>
    <link rel="stylesheet" href="{% static 'utilidad/main.css' %}">

</head>
{% endblock %}

{% block content %}
<body background="{% static 'formulario/img/bg_validate_registered.jpg' %}">
    {% if verificado is False %}
        <div class="fullsize flexrow flexcenter">
            <div class="midtransparent flexcolumn flexcenter fit">
                <h3 style="margin: 6px;"> ¡Parece que estás perdido!</h3>
                <a href=" {% url 'signin' %} " style="margin: 3px;">¿Te gustaría intentar ir al menu para iniciar sesión? ¡Clickeame! :D</a>
            </div>
        </div>
    {% elif verificado is True %}
        <div class="fullsize flexrow flexcenter">
            <div class="midtransparent flexcolumn flexcenter fit">
                <h3 style="margin: 6px;"> ¡Correo registrado!</h3>
                <p style="margin: 3px;">La institución sabrá que tu correo ha sido registrado, una vez ellos validen su veracidad, confirmaran si puedes validarte o no.</p>
                <p style="margin: 3px;">Al ser confirmado recibiras un correo por {{ correo }} que será tu código de verificación.</p>
                <p style="margin: 3px;"><a href="{% url 'validate' %}">¡Si ya tienes tu código puedes validar tu correo aquí!</a></p>

            </div>
        </div>
    {% endif %}

</body>

{% endblock %}