{% comment %} {% block title %}{% endblock %} {% endcomment %}
{% load static %}

{% block head %}
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'formulario/css/logon.css' %}">
    <link rel="stylesheet" href="{% static 'utilidad/main.css' %}">
</head>
{% endblock %}

{% block content %}
<body background="{% static 'formulario/img/bg_login.png' %}" height="50px">
    <div class="flexcenter fullspace">
        <div class="customwidth1 normalbg">
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <input type="image" src="{% static 'formulario/img/right_arrow.png' %}" class="backbutton" id="back">
                <label for="back" class="backbutton">Ir a creación de cuenta</label>
                <hr>
            </form>
            <h4><img src="{% static 'formulario/img/bell_logo.png' %}" width="100" height="100"></h4>

            <form action="{% url 'tosignin' %}" method="post">
                {% csrf_token %}
                <hr>
                <input type="text" name="username" placeholder="Usuario o correo electrónico" required maxlength="320"/>
                <input type="password" name="password" placeholder="Ingresa tu contraseña" required maxlength="1024"/>
                
                {% if registrado is False %}
                {% elif registrado is True %}
                    <p>¡Parece que tu correo está registrado pero no verificado!</p>
                    <p>Una vez registrado espera un codigo que será enviado a tu correo.</p>
                    <p>¿Ya tienes el código? <a href="{% url 'validate' %}">¡Verifica tu correo aquí!</a></p>
                {% endif %}

                {% if error is False %}
                {% elif error is True %}
                    <p>Usuario o contraseña incorrecta</p>
                {% endif %}
                {% if existe is True %}
                {% elif existe is False %}
                    <p>El usuario o correo ingresado no existe.</p>
                {% endif %}
                
                <hr>


                
                    <button type="submit" href="/">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</body>


{% endblock %}