{% load static %}
{% block head %}
<head>
    {% comment %} <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> {% endcomment %}
    <title>Verifica tu usuario</title>
    <link rel="stylesheet" href="{% static 'css/mains.css' %}">

</head>
{% endblock %}

{% block content %}
<body background="{% static 'formulario/img/bgd2.jpg' %}">
    <div class="fullsize flexrow flexcenter">
        <div class="midtransparent flexcolumn flexcenter fit">
            <h3 style="margin: 6px;">Estás a unos pasos de verificar tu correo...</h3>
            <p style="margin: 3px;">¡La institución te enviará un codígo de verificación que usarás aquí!</p>
            <form action="" method="post">
                
                {% csrf_token %}
                <input type="text" name="correo" style="width: 400px;" placeholder="Ingresa tu correo o nombre de usuario" required maxlength="320">
                <input type="text" name="codigo" style="width: 160px;" placeholder="Ingresa tu código" required maxlength="6">  
                <hr>
                <input type="submit" value="Verificar correo" class="sendbutton">
            </form>
            {% if error == True %}
                <p>El correo ingresado no existe.</p>
            {% elif error == False %}
            {% endif %}

            {% if errorAuth == True %}
                <p>Código ingresado incorrecto.</p>
            {% elif errorAuth == False %}
            {% endif %}

            {% if exitoso == False %}
            {% elif exitoso == True %}
                <br><p style="margin: 3px;">Correo verificado exitosamente <a href="">¿iniciar sesión?</a></p>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}