{% comment %} {% block title %}{% endblock %} {% endcomment %}
{% load static %}

{% block head %}
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/logon.css' %}">
    <link rel="stylesheet" href="{% static 'css/mains.css' %}">
    {% comment %} <style>@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');</style> {% endcomment %}
</head>
{% endblock %}

{% block content %}
<body background="{% static 'img/bgd.png' %}" height="50px">
    <div class="flexcenter fullspace">
        <div class="customwidth1 normalbg">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <input type="image" src="{% static 'img/left-arrow.png' %}" height="10" class="backbutton" id="back">
                <label for="back">Registro</label>
                <hr>
            </form>
            <h4><img src="{% static 'img/campanario.png' %}" width="100" height="100"></h4>

            <form action="{% url 'logiuser' %}" method="post">
                {% csrf_token %}
                <hr>
                <input type="text" name="username" placeholder="Usuario o correo electrónico" required maxlength="320"/>
                <input type="password" name="passwrd" placeholder="Contraseña" required maxlength="1024"/>
                
                {% if registrado is True %}
                {% elif registrado is False %}
                    <p>¡Parece que tu correo está registrado pero no verificado!</p>
                    <p>Una vez registrado espera un codigo que será enviado a tu correo.</p>
                    <p>¿Ya tienes el código? <a href="{% url 'verificar' %}">Verifica tu correo aquí</a></p>
                {% endif %}

                {% if error is False %}
                {% elif error is True %}
                    <p>Usuario o contraseña incorrectos</p>
                <hr>
                {% endif %}
                    <button type="submit" href="/">Iniciar Sesión</button>
                </div>
            </form>

        </div>
    </div>
</body>


{% endblock %}