
{% block title %}
{% endblock %}
{% load static %}



{% block head %}
<head>
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="{% static 'formulario/css/logon.css' %}">
    <link rel="stylesheet" href="{% static 'utilidad/main.css' %}">
</head>
{% endblock %}


{% block content %}
<body background="{% static 'formulario/img/bg_login.png' %}" height="50px">
    <div class="flexcenter fullspace">
        <div class="customwidth1 normalbg">
            <form action="{% url 'signin' %}" method="post">
                {% csrf_token %}
                <input type="image" src="{% static 'formulario/img/right_arrow.png' %}" class="backbutton" id="back">
                <label for="back" class="backbutton">Ir a iniciar sesión</label>    
                <hr>
            </form>
            <h4><img src="{% static 'formulario/img/bell_logo.png' %}" width="100" height="100"></h4>
            <form action="{% url 'tosignup' %}" method="post">
                {% csrf_token %}
                <hr>
                <input type="text" name="username" placeholder="Ingresa un nombre de usuario" required maxlength="30"/>
                <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required maxlength="320"/>
                <input type="password" name="password1" placeholder="Escribe tu contraseña" required maxlength="1024"/>
                <input type="password" name="password2" placeholder="Repite tu contraseña" required maxlength="1024"/>
                <hr>
                {% if passwordError is True %}
                    <p>Las contraseñas no coinciden</p>
                {% elif passwordError is False %}
                {% endif %}
                {% if registered is True %}
                    <p>¡El usuario o correo ya esta registrado!</p>
                {% elif registered is False %}
                {% endif %}

                
                {% if error is True %}
                    <p>Tu contraseña no cumple alguno de los requisitos:</p>
                    <p>• Tu contraseña debe contener al menos ocho caracteres.</p>
                    <p>• Tu contraseña no puede ser completamente numérica.</p>
                {% elif error is False %}
                {% endif %}

                <form action="" method="post">
                    <button type="submit" href="/" >Crear Cuenta</button>
                </form>
            </form>

        </div>
    </div>
</body>


{% endblock%}