{% load static %}
{% block head %}
<head>
    <title>Verifica tu usuario</title>
    <link rel="stylesheet" href="{% static 'utilidad/main.css' %}">

</head>
{% endblock %}

{% block content %}
<body background="{% static 'formulario/img/bg_validate_registered.jpg' %}">
    <div class="fullsize flexrow flexcenter">
        <div class="midtransparent flexcolumn flexcenter fit">
            <h3 style="margin: 6px;">Estás a unos pasos de verificar tu correo...</h3>
            <p style="margin: 3px;">¡La institución te enviará un codígo de verificación que usarás aquí!</p>
            <form action="{% url 'tovalidate' %}" method="post">
                
                {% csrf_token %}
                <input type="email" name="email" style="width: 400px;" placeholder="Ingresa tu correo" required maxlength="254">
                <input type="text" name="codigo" style="width: 160px;" placeholder="Ingresa tu código" required maxlength="6">  
                <hr>
                <input type="submit" value="Verificar correo" class="sendbutton">
            </form>
            {% if error == True %}
                <p>El correo ingresado no existe.</p>
            {% elif error == False %}
            {% endif %}

            {% if errorAuth == True %}
                <p>Código ingresado incorrecto.</p>
            {% elif errorAuth == False %}
            {% endif %}

            {% if success == False %}
            {% elif success == True %}
                <br><p style="margin: 3px;">Correo verificado exitosamente <a href=" {% url 'signin' %} ">¿iniciar sesión?</a></p>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}