@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}

body {
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

p {
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 16px;
    color: #666;
    font-size: 12px;
}

h4 {
    font-size: 20px;
    text-align: center;
}


hr {
    color: #a9a9a9;
    opacity: 0.3;
}


.main-block {
    /* max-width: auto;
    min-height: auto;
    padding: 10px 0; */
    margin: auto;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background: #ebebeb;
}




form {
    margin: 10px 30px;
    max-width: auto;
    min-height: auto;

}

.account-type,
.gender {
    margin: 15px 0;
}

input[type=radio] {
    display: none;
    font-family: 'Roboto Mono', monospace;
}

label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
}

label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
}

label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c87c9;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background: #006eff;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

button:hover {
    background: #26a9e0;
}

.backbutton{
    height: 30px;
    width: 30px;
}

.backbutton:hover{
    opacity: 50%;
}