{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'formulario/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'formulario/css/main.css' %}">
</head>
{% endblock %}



{% block navbar %} 

<div class="flexblock justcenter">
  <div class="flex normalbg">
    <div class="flexrow justcenter cmargin">
      <div class="flexcolumn flexcenter"><h3 class="customh3">CAMPANARIO CHALECO</h3></div>
      <div class="flexcolumn">
        <li class="enabled"><a href="{% url 'eventspage' %}" >EVENTOS</li></a>
        <li><a href="{% url 'configpage' %}" class="nava">CONFIGURACIÓN</li></a>
        <li><a href="{% url 'credits' %}" class="nava">CREDITOS</li></a>
      </div>
    </div>
    <hr style="opacity: 0.3;">
    <div class="flexrow cmargin">
      <div class="flexcolum">
        <p id="hora"></p><script src="{% static 'eventos/js/tiempo.js' %}"></script>
      </div>
      <div class="flexcolum">
        <p id="fecha"></p><script src="{% static 'eventos/js/fecha.js' %}"></script>
      </div>
    </div>
    <hr style="opacity: 0.3;">
    <div class="flexrow cmargin">
      <div class="flexcolum">
        <p>
          <li><a href="{% url 'tologout' %}" class="nava">SALIR</a></li>
        </p>
      </div>
    </div>
    
  </div>
</div>
  
        

{% endblock%}