.blacktext{
    color: black;
    font-size:15px;
}


.bloque{
    width:30%;
    height:fit-content;
    margin:10px;
    color: black;
}
.bloqueil{
    width:40%;
    height:60%;
    margin:10px;
    color: black;
}


.eventos{
    display: flex;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin:10px;
}



.contenidolista{
    display: flex;
    flex-direction: column;
}



button[type=submit]{
    width: fit-content;
}


p.customp{
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
}
p.customp2{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-size: 20px; */
}


.trashicon{
    height: 35px;
    width: 35px;
    /* border-color:none; */
}

button.clear{
    background: rgb(223 67 75);
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    height: 100%;

}
button.clear:hover{
    height: 100%;
    /* filter: grayscale(100%); */
    background: rgb(119, 34, 38);
    border-color: rgba(240, 248, 255, 0);

}

    
    



.clear:hover{
    filter: grayscale(0%);
    background: none;

}

button[type=submit].addevent{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    background: rgb(250, 150, 0);
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

button[type=submit].addevent:hover {
    background: rgb(112, 67, 0);

}
button[type=submit]:disabled.addevent{
    background: rgb(65, 65, 65);
    opacity: 50%;
}
button[type=submit]:disabled.addevent:hover{
    background: rgb(65, 65, 65);
}

select{
    width:-webkit-fill-available;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #fff;
}

input[type=checkbox].marginc{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type=text].cname{
    width: -webkit-fill-available;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #fff;
}

.customheight{
    height: 30%;
}

.deleteevent{
    display: flex;
    width: 15%;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px #cbc9c9;
    background: #fff;
}

.eventcontent{
    display: flex;
    width: -webkit-fill-available;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: solid 1px #cbc9c9;
    background: #fff;
}

div.listaeventos {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: -webkit-fill-available;
    height: 75%;
    overflow-y: scroll;
    /* -webkit-fill-available */
}
.bg{
    margin: 3px;
    height: auto;
    width: -webkit-fill-available;

}

.webkitsize{
    margin: 3px;
    width: -webkit-fill-available;
    width: -webkit-fill-available;

}


option.prioridad1:disabled{
    color: rgb(73, 76, 162);
}

option.prioridad2:disabled{
    color: rgb(188, 80, 144);
}

option.prioridad3:disabled{
    color: rgb(255, 99, 97);
}

option.prioridad4:disabled{
    color: rgb(210, 212, 98);
}

.nombreevento{
    background-color: rgb(250, 150, 0);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-size: 20px; */
    border-radius: 10px;
    color: white;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

hr.margin{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgb(250, 150, 0);
    /* background-color: #006eff00; */
}

.hora{
    background-color: rgb(250, 150, 0);

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
}