{% load static %}

{% block head %}
<head>
    <title>Eventos del campanario</title>
    <link rel="stylesheet" href="{% static 'utilidad/main.css' %}">
    <link rel="stylesheet" href="{% static 'eventos/css/event_add.css' %}">
    <script src="{% static 'eventos/js/eventselect.js' %}"></script>
    <script src="{% static 'eventos/js/js.query.min.js' %}"></script>
</head>
{% endblock %}

{% block content %}
<body background="{% static 'eventos/img/bg_events.gif' %}" height="50px" >
    
    {% include 'extends/extends_navbar.html' %}
    <br>
    <div class="flexblock justcenter" style="height:80%">
        

        <div class="bloque flexrow midtransparent">
            
            
            <h2 class="centeredtext">Agendar evento</h2>
            <form action="{% url 'createEvent' %}" method="post">
                {% csrf_token %}
                <input type="text" class="cname" name="name" placeholder="Ingresa el nombre del evento" maxlength="49" required>
                <!-- plantillas de eventos -->
                <br><br>
                <p class="customp">Elige la situación</p>
                <script src="{% static 'eventos/js/jsquery.min.js' %}"></script>
                <select name="selection" id="evento" oninput ="seventos()" required>
                    <option value="" selected disabled>- Elige una opción -</option>
                    <option value="" class="prioridad1" disabled>-Prioridad I-</option>
                    <option value="4">Dia específico</option>
                    <option value="" class="prioridad2" disabled>-Prioridad II-</option>
                    <option value="5">Semana específica</option>
                    <option value="" class="prioridad3" disabled>-Prioridad III-</option>
                    <option value="2">Lunes a viernes</option>
                    <option value="3">Sabado a domingo</option>
                    <option value="" class="prioridad4" disabled>-Prioridad IV-</option>
                    <option value="1">Todos los días</option>
                </select>
                <br>
                <input type="checkbox" name="currentyear" id="currentyear" class="marginc"> 
                <label for="currentyear">Todos los años</label>
                <p class="marginc" for="currentyear">Nota: los años son obviados.</p>
                <p id="eventosid" class="customp"></p>
                <br>
                <p class="customp">Elige la melodía.</p>

                <select name="song" id="canciones" required>
                    {% if noSongs is True %}
                        <option value="" disabled></option>
                    {% elif noSongs is False %}
                        {% for song in songs %}
                            <option value="{{song.id}}">{{song.title}}</option>
                        {% endfor %}
                    {% endif %}
                    
  
                </select> 

                    
                {% comment %} </select> {% endcomment %}
                
                <hr>
                <div class="centeredtext">
                    {% if noSongs is False %}
                        <button type="submit" href="/" class="addevent">Agregar Evento</button>
                    {% elif noSongs is True %}
                        <button type="submit" href="/" class="addevent" disabled>Agregar Evento</button>
                    {% endif %}
                </div>
                
            </form>
            
        </div>

        <div class="bloqueil flexrow midtransparent">
            <div style="margin-left: 30px; margin-right: 30px;">
                <h4>Lista de eventos</h4>
            <div class="listaeventos">
                    {% for eventos in events %}
                        <div class="flex flexrow webkitsize ">
                            <!-- contenido -->
                            <div class="flex flexcolumn webkitsize normalbg"> 
                                <div class="flex flexcolumn webkitsize"> 
                                    <p class="customp2 nombreevento" id="nevento"><b>
                                         {{ eventos.name }} 
                                    </b></p>
                                </div>
                                <div class="flex flexcolumn webkitsize"> 
                                    <div class="flex flexrow webkitsize">
                                        <div class="flex flexcolumn webkitsize flexcenter "> 
                                            {% if eventos.selection == 1 %}
                                                <p class="customp2">Todos los días</p>
                                            {% elif eventos.selection == 2 %}
                                                <p class="customp2">Lunes a Viernes</p>
                                            {% elif eventos.selection == 3 %}
                                                <p class="customp2">Sábados a Domingos</p>
                                            {% elif eventos.selection == 4 %}
                                                <p class="customp2">Día específico</p>
                                            {% elif eventos.selection == 5 %}
                                                <p class="customp2">Semana específica</p>
                                            {% else %}
                                                <p class="customp2"></p>
                                            {% endif %}   
                                        
                                        </div>
                                        <div class="flex flexcolumn webkitsize flexcenter"> 
                                                                                           
                                                {% if eventos.currentyear == True %}
                                                    <p class="customp2">Todos los años</p>
    
                                                {% elif eventos.currentyear == False %}
                                                    <p class="customp2">Sólo este año</p>
    
                                                {% endif %} 
                                        </div>
                                    </div>
                                    <div class="flex flexrow webkitsize">
                                        <div class="flex flexcolumn webkitsize flexcenter"> 
                                            <p class="customp2 hora">⏰
                                                {{ eventos.time }} 
                                            </p>
                                            
    
                                        </div>
                                        <div class="flex flexcolumn webkitsize"> 
                                            <p class="customp2" style="text-align: justify;">
                                            <div id="default + {{eventos.id}}">
                                                🎶 Canción predeterminada :D
                                            </div>
                                                {% for song in songs %}

                                                        {% if eventos.song == song.id %}
                                                        🎶 {{song.title}}
                                                        <script>
                                                            document.getElementById("default + {{eventos.id}}").style.display = "none";
                                                        </script>
                                                        {% endif %}

                                                {% endfor %} 


                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <hr class="margin">
                                
                                <form action="{% url 'deleteEvent' %}  " method="post" style="margin:0px ;">
                                    {% csrf_token %}    
                                    <button type="submit" class=" flex flexcenter clear" name="{{eventos.id}}">
                                        <!-- name="delevent" value="delevent" -->
                                        <img src="{% static 'eventos/img/trash-white.png' %}" class="trashicon">
                                    </button>                            
                                </form>
                                    
                            </div> 
    
                    {% empty %}
                        <h2>
                            No hay eventos existentes.
                        </h2>
                   
                    {% endfor %}

                </div>
            </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

