
{% load static %}

{% block head %}
<head>
    <title>Registros</title>
    
    <link rel="stylesheet" href="{% static 'utilidad/main.css' %}">
    <link rel="stylesheet" href="{% static 'eventos/css/event_config.css' %}">

</head>
{% endblock %}



{% include 'extends/extends_navbar.html' %}




{% block body %}
<body background="{% static 'eventos/img/bg_events.gif' %}" >
<br><br>
    <div class="main-block midtransparent">    
    
        {% comment %}<textarea class="noresizable leftalign" id="lineacomandos" cols="70" rows="10"  disabled>
Hola
Esta
Es  
        </textarea><hr> {% endcomment %}
        {% comment %} <input type="text" placeholder="Ingresar comando" class="fitwidth"> {% endcomment %}
        {% comment %} <input type="submit" class="sendbutton" placeholder="Enviar"> {% endcomment %}
        <h3 >Cambiar hora del campanario</h3>
        <p>Ingresa la hora que aparece en el campanario</p>
        <p>Nota: No importa si lo ingresas con formato de 24 o 12 horas</p>
        <form action="{% url 'change_hour'%}" method="post">
            {% csrf_token %}
            🕐
            <input type="time" name="relojhora" id="">
            
            {% if timeDisable is True %}
                <button type="submit" disabled>Cambiar la hora</button>
            {% elif timeDisable is False %}
                <button type="submit" >Cambiar la hora</button>
            {% endif %}
            {{timeDisable}}
        </form>

        <hr>

        <h3 >Agregar canciones</h3>
        <p style="font-size: smaller;">Asegurate de saber lo que haces.</p>
        <p style="font-size: smaller;">El siguiente enlace tiene instrucciones para agregar una cancion.</p>
        <a style="font-size: smaller;" href="https://github.com/Heredento/campanario-chaleco/blob/main/campanario/media/songs/utilities/templatesong.py">Documentación de github</a>
        <a href="" style="font-size: smaller;">Documentación interna</a>
        <form action="{% url 'uploadFile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            <input type="file" enctype="multipart/form-data" name="file" title="sheesh" placeholder="Hola"  id="songfile" accept=".py" > 
            <button type="submit">Subir Archivo</button>
        </form>
        {% if fileIsValid is True %}
        {% elif fileIsValid is False %}
            <p>Ha sucedido un problema</p>
            <p>El documento que ingresaste no cumple alguno de los requisitos.</p>
        {% endif %}
        {% if successfulUpload is True %}
            <p>Canción {{songname}} agregada exitosamente</p>
        {% elif successfulUpload is False %}

        {% endif%}

        <hr>
        <h3>Canciones listadas</h3>
        <p style="font-size: smaller;">Canciones registradas para ser reproducidas en el campanario</p>
        <div class="listeventos">
            <form action="{% url 'deleteSong' %}" method="post">
                {% csrf_token %}
                {% for event in events  %}
                <div class="flex flexrow">
                    <div class="flex">
                        <p id="songname">{{ event.title }}</p>
                    </div>
                    <div class="flex">
                        <button type="submit" for="songname" name="{{ event.id }}">
                            <img src="{% static 'eventos/img/trash-white.png' %}" class="trashicon">
                        </button>
                    </div>
                </div>

                
                {% endfor %}    
            </form>
        </div>
        <h3>Recuperación de canciones listadas</h3>
        <p style="font-size: smaller;">Canciones listadas recuperables</p>
        <div class="listeventos">
            <form action="{% url 'recoverSong' %}" method="post">
                {% csrf_token %}
                {% for backup in backups  %}
                <div class="flex flexrow">
                    <div class="flex">
                        <p id="songname">{{ backup.title }}</p>
                    </div>
                    <div class="flex">
                        <p id="songname">Creado el</p>
                        <p>{{ backup.creationdate }}</p>
                    </div>
                    <div class="flex">
                        <button type="submit" for="songname" name="{{ backup.id }}">
                            <img src="{% static 'eventos/img/recover_icon.png' %}" class="trashicon">
                        </button>
                    </div>
                </div>

                
                {% endfor %}    
            </form>

        </div>


    </div> 





</body>

</body>
{% endblock %}

